* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: darkgray;
}

a:hover {
    position: relative;
    color:whitesmoke;
	top: -10px;
	transition: 1s;
    background-color: darkgray;
}



.hero-image {
    width: 100%;
}
img {
    width: 100%;
}

p {
    padding: 20px;
    margin: 20px;
    font-size:1.2em;
    font-family: 'Roboto', sans-serif;
}
h2 {
    padding: 10px;
    margin: 10px;
    font-family: 'Bakbak One', cursive;
}
.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.patty {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
	
}

.nav-link{
    font-size: 1.1rem;
    font-weight: 200;
    color: whitesmoke;
}

.nav-link:hover{
    color: darkgray;
}
.nav-logo {
    font-size: 35px;
    font-weight: 500;
    font-family: 'Bakbak One', cursive;
    color: white;
}





.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color:white;


  }


.image-container {
    position: relative;
    width: 100%;
}



.website-text {
    position: absolute;
    width:50%;
    height: 50%;
    right: 0;
    bottom: 0;
    color: white;
    text-align: center;
    font-size:40px;
    font-weight: 300;
    padding: 10px;
    margin: 10px;
}

/* gallery styles */

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;

    padding: 3em;
    margin:3em;
}

div img {
	padding: 10px;
}




.image-card {
    position: relative;
    width: 100%;
    display: block;
    color: black;

  }
  
  .image-card:hover .image-title {
    opacity: 1;
  }
  
  .image-title {
    position: absolute;
    background: #fffd;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .25s;
  }
  

.gallery2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em;
    

    padding: 3em;
    margin:3em;
}







/* form styles */
.form {
    background-color: lightgray;
    border: darkgray;
    border-radius: 1em;
	padding: 50px;
	margin: 50px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: gray;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 65px;
	
}

input[type=submit]:hover {
  background-color: lightgray;
}











  footer {
      background-color: black;
  }
  .footer-text {
      color: whitesmoke;
      display: flex;
      justify-content: center;
  }
  .footer-menu {
      display:flex;
      justify-content: center;
  }

















@media (max-width: 768px) {
    .hamburger {
        display: block;
        width: max-content;
      }
      
      .patty {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: whitesmoke;
      }
      
      .slide-out-menu {
        background: lightgray;
        height: 100vh;
        width: 100%;
        max-width: 100%;
        
        position: fixed;
        z-index: 100;
        right: 0;
        top: 0;
        transform: translateX(100%);
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        
        transition: all .5s;
      }
      
      .slide {
        transform: translateX(0);
      }
      
      .slide-out-menu a {
        text-decoration: none;
        flex-grow: 1;
        display: grid; 
        place-items: center;
      }
      
      .slide-out-menu a:hover {
        background: darkgrey;
        color: white;
      }
      
    
    
      

    .nav-link {
        display:none;
    }
    
    .nav-logo {
        font-size: 35px;
        font-weight: 500;
        color: whitesmoke;
    }
    
   
  

    .website-text {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr;
        gap: .5em;
    
        padding: 3em;
        margin:3em;
    }
    .gallery2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: .5em;
        
    
        padding: 3em;
        margin:3em;
    }
} 
